@model IEnumerable<ApplicationCore.Entities.Genre>

@foreach (var genre in Model)
{
    <a class="dropdown-item" asp-controller="Genre" asp-action="GenreBy" asp-route-id="@genre.Id">
        @genre.Name
    </a>
}